<h1>Listing photos</h1>

<table>
  <% for photo in @photos %>
    <tr>
      <td><%= link_to(image_tag("photos/#{photo.thumbnail}", :size => "75x56", :border => 1, :id => 'thumbnail'), photo) %></td>
      <td><%=h photo.filename %></td>
      <td><%= link_to 'delete me', photo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
